<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<div th:if="${modulos.isEmpty()}">No hay modulos en la lista</div>

<table th:if="${not modulos.isEmpty()}">
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Curso</th>
        <th>Horas</th>
        <th>Profesor</th>
        <th>Alumnos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="modulo: ${modulos}">
        <td th:text="${modulo.getId()}"></td>
        <td th:text="${modulo.getNombre()}"></td>
        <td th:text="${modulo.getCurso()}"></td>
        <td th:text="${modulo.getHoras()}"></td>
        <td th:text="${modulo.getProfesorModulo()}"></td>
        <td >[]</td>
    </tr>
    </tbody>
</table>
<a href="http://localhost:8080/examen/index">Volver</a>
</body>
</html>